.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.message{
    width: 100%;
}
.my-own-modal{
    max-width: 100%;
    width: 50%;
}
#vanilla-demo{
    opacity:0;
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
}
.err{
    display: none;
}
.table td, .table th {
    vertical-align: middle !important;
}
.table td img {
    max-height: 80px;
}